@font-face{
    font-family: Vazir;
    src: url("tests/font/Vazir.ttf");
}

*{
    padding: 0;
    margin: 0;

    direction: rtl !important;
    font-family: Vazir;
}



/* extra small devices */




/* small devices (sm)*/
@media (min-width: 576px) {}

/* medium devices (md)*/
@media (min-width: 768px) {}

/* large devices (lg)*/
@media (min-width: 992px) {}

/* extra large devices (xl)*/
@media (min-width: 1200px) {}