/*
use other stylesheets
in sprated files
don't modify this file

:) Mahdi Akbari
https://github.com/blackestwhite
*/







*{
    padding: 0;
    margin: 0;

    direction: rtl !important;
}



/* extra small devices */
h1{
    font-size: 2.1rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.95rem;
}
h6{
    font-size: 0.9rem;
}
p,a,button{
    font-size: 1rem;
}


/* small devices (sm)*/
@media (min-width: 576px) {
    *{
        padding: 0;
        margin: 0;
    
        direction: rtl !important;
    }

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.3rem;
    }
    h4{
        font-size: 1.1rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p,a,button{
        font-size: 1.05rem;
    }
}











/* medium devices (md)*/
@media (min-width: 768px) {
    *{
        padding: 0;
        margin: 0;
    
        direction: rtl !important;
    }
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 1.65rem;
    }
    h3{
        font-size: 1.35rem;
    }
    h4{
        font-size: 1.15rem;
    }
    h5{
        font-size: 1.1rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p,a,button{
        font-size: 1.1rem;
    }
}











/* large devices (lg)*/
@media (min-width: 992px) {
    *{
        padding: 0;
        margin: 0;
    
        direction: rtl !important;
    }

    h1{
        font-size: 2.3rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }
    h5{
        font-size: 1.1rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p,a,button{
        font-size: 1.1rem;
    }
}











/* extra large devices (xl)*/
@media (min-width: 1200px) {
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
    h5{
        font-size: 1.1rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p,a,button{
        font-size: 1.2rem;
    }
}